<form method="post" action="{{ path('app_worksheet_delete', {'id': worksheet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <br/>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ worksheet.id) }}">
    <button class="btn">Delete</button>
</form>
