<form method="post" action="{{ path('app_worksheet_softDelete', {'id': worksheet.id}) }}" onsubmit="return confirm('Esta Seguro que desea borrar este elemento?');">
    <br/>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ worksheet.id) }}">
    <button class="btn">Borrar</button>
</form>
