{% extends 'base.html.twig' %}

{% block title %}Edita Hoja de Trabajo{% endblock %}

{% block body %}
    <div class="editForm">
        <h1>Editar Hoja de Trabajo</h1>
        {{ include('Worksheet/_form.html.twig', {
            'button_label' : 'Actualizar' ,
            'button_type' : 'button',
            'button_class' : "btn btn-primary",
            'target' : '#staticBackdropEdit'
        }) }}
        {{ include('Worksheet/_delete_form.html.twig') }}
        <a href="{{ path('app_worksheet_index') }}">
            <button  type="button">Volver a la Lista</button>
        </a>
    </div>
{% endblock %}
