{% extends 'base.html.twig' %}

{% block title %}New Worksheet{% endblock %}

{% block body %}
    <h1>Create new Worksheet</h1>

    {{ include('Worksheet/_form.html.twig') }}

    <a href="{{ path('app_worksheet_index') }}">back to list</a>
{% endblock %}
