{% extends 'base.html.twig' %}

{% block title %}Nueva Hoja de Trabajo{% endblock %}

{% block body %}
    <div class="newForm">
        <h1>Crear una Hoja de Trabajo</h1>
        {{ include('Worksheet/_form.html.twig') }}
        <a href="{{ path('homepage') }}">
            <button type="button">Volver a la Lista</button>
        </a>
    </div>
{% endblock %}
