<form method="post" action="{{ path('app_customer_softDelete', {'id': customer.id}) }}" onsubmit="return confirm('Esta seguro que desea eliminar este elemento?');">
    <br/>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
    <button class="btn" >Borrar</button>
</form>
