{% extends 'base.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
    <br/>
    <h1>Editar Cliente</h1>
    <br/>
    {{ include('Customer/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <br/>
    {{ include('Customer/_delete_form.html.twig') }}
    <br/>

    <a href="{{ path('app_customer_index') }}">
        <button type="button">Volver a la Lista</button>
    </a>

    <br/>


{% endblock %}
