{% extends 'base.html.twig' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block body %}
    <br>
    <h1>Crear Nuevo Cliente</h1>

    <br/>
    {{ include('Customer/_form.html.twig') }}
    <br/>
    <a href="{{ path('app_customer_index') }}">
        <button type="button">Volver a Lista Clientes</button>
    </a>
{% endblock %}
