{% extends 'base.html.twig' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block body %}
    <div class="newForm">
        <h1>Crear Nuevo Cliente</h1>
        {{ include('Customer/_form.html.twig') }}
        <a href="{{ path('app_customer_index') }}">
            <button type="button">Volver a Lista Clientes</button>
        </a>
    </div>
{% endblock %}
