{% extends 'base.html.twig' %}

{% block title %}Búsqueda de Clientes{% endblock %}

{% block body %}
    <br/>
    <h1>Búsqueda de Clientes</h1>
    <br/>
        <table class="search">
            <tbody>
                <form action="{{path('app_searchById_customer')}}" method="GET">
                    <tr>
                        <th>Buscar Cliente por Número</th>
                        <td><input type="number" name="id" id="id"></td>
                        <td id="searchButton"><button type="submit"/>Buscar</td>
                    </tr>
                </form>
                <form action="{{path('app_searchByIdCard_customer')}}" method="GET">
                    <tr>
                        <th>Buscar Cliente por Identificación</th>
                        <td><input type="text" name="idCard" id="idCard"></td>
                        <td id="searchButton"><button type="submit"/>Buscar</td>
                    </tr>
                </form>
            </tbody>
        </table>

{% endblock %}
