{% extends 'base.html.twig' %}

{% block title %}Hoja de Trabajo No Encontrado{% endblock %}

{% block body %}
    <div>
        <h1>No se ha encontrado la Hoja de Trabajo</h1>
        <div id="oopssContainer" align="center">
            <img class="exception" src="{{ asset('assets/oops.jpeg') }}" align="center" alt="Muestar Mujer Gesticulando Opps">
        </div>
        <a href="{{ path('search_worksheet') }}">
            <button type="button">Volver a la Búsqueda</button>
        </a>
    </div>
{% endblock %}
