{% extends 'base.html.twig' %}

{% block title %}Nuevo Vehículo{% endblock %}

{% block body %}
    <br/>
    <h1>Crear un Vehículo Nuevo</h1>

    {{ include('Car/_form.html.twig') }}
    <br/>
    <a href="{{ path('app_car_index') }}">
        <button type="button">Volver a la Lista</button>
    </a>
{% endblock %}
