/*************************************************************************/
/*******************ZONA ESTILO EN GENERAL*******************************/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url(./img/BackGroundII.png);
  background-size:cover;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  color: #e9f7f8;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #22a1f6;
  color: rgb(250, 250, 250);
  font-size: 18px;
  box-shadow: 0 8px 10px 0 rgba(6, 120, 226, 0.918), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: rgb(55, 236, 197);
  transition: all 0.2s;
}

.link{
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #e9f7f8;
  font-size: 20px;
  cursor: pointer;
}

a:hover{
  color: rgb(55, 236, 197);
  transition: all 0.2s;
}

text{
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

label{
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

input {
  background-color: #e9f7f8;
  border:solid #22a1f6 2px;
  margin-left: 8px;
  width: 280px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  overflow:scroll;

}

/*****************************************************************/
/**********ZONA ESTILO DEL MENU NAVEGACION************************/

nav{
  background-color: #22a1f6;
}

.nav-link{
  color: #e9f7f8;
}

.nav-link:hover{
  color: rgb(55, 236, 197);
  transition: all 0.2s;
}

#navbarSupportedContent{
  margin-left: 50px;
}

#logo{
  width: 200px ;
  cursor: pointer;
}

#linea{
  background-color: #44708d;
  height: 50px;
}

#search{
  margin-left: -150px;
  margin-top: -200px;
}

#searchMessage{
  margin-top: -250px;
}

#searchMessage img{
  width: 500px;
  height: 500px;
}


/**************************************************************************/
/********************ESTILO DEL CARRUSEL***********************************/

#mycarousel{
  height: 500px;
  align-items: center;
}

#mycarousel img{
  
  width: 100%;
  height: 500px;
  max-height: 500px;
}

/*************************************************************************/
/*********************ZONA ESTILO INDICE PELICULAS************************/

#indexMovies{
  margin-top: 300px;
  margin-left: 200px;
}

#moviesContainer{
  display: inline;
  padding-left: 25px;
  padding-top: 200px;
}

/*********EFECTO DE LAS PELICULAS*************/

.card {
  display: inline-block;
  transform: translate(-50%,-50%);
  background-color: rgb(177, 177, 177);
  height: 400px;
  width: 280px;
  border:solid #22a1f6 5px;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}
.card .imgBx,
.card .details {
  width: 100%;
  height: 100%;
  position:absolute;
  box-sizing: border-box;
  transition: .5s;
}
.card:hover .imgBx {
  top: 0;
  left: -100%;
}
.card .imgBx img {
  width: 250px;
  height: 250px;
  margin-bottom: 25px;
  object-fit: contain;
}
.card .details {
  background: rgb(177, 177, 177);
  top: 0;
  left: 100%;
  padding: 15px 15px;
}
.card:hover .details {
  top: 0;
  left: 0%;
  overflow:auto;
}
.card .details h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid black;

}
.card .details p {
  margin: 20px 0 0;
  color: black;
}

/*************************************************************************/
/*******************ESTILO ZONA LISTA USUARIOS****************************/

#indexUserContainer{
  margin-top: -200px;
  margin-bottom: 200px;
}

#usersContainer{
  background-color: #868686b9;
  padding: 8px;
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 5%;

}

#usersContainer img{
  width: 100px;
  height: 100px;
  align-content: unset;
  object-fit: contain;

}

#usersContainer p{
  margin-top: 15px;
  margin-left: 150px;
}

/**************************************************************************/
/*************************ZONA ESTILO INFO MOVIE***************************/

#movieInfoContainer{
  margin-top: -200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px;
}

#photoArea {
  background-color:  rgb(177, 177, 177);
  padding: 15px;
  border: solid #22a1f6 5px;
}

#photoFilm {
height: auto;
}


#principalArea{
  background-color: rgb(177, 177, 177);
  border: solid #22a1f6 5px;
  padding: 20px;
  margin-bottom: 80px;
}

#principalArea text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24;
}

#principalArea label{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24;
}

#pricipalArea input{
  height: auto;
  width: auto;
  border-style: double;
}

#textdiv{

  background-color: #e9f7f8;
  border:solid #22a1f6 2px;
  width: 400px;
  height: 50px;
  font-size: 24px;
  text-align: center;

}

#sinopsisInfo{
  margin-left: -10px;
  padding: 5px;
  width: 400px;
  height: 150px;
  background-color: #e9f7f8;
  border:solid #22a1f6 2px;
  overflow:scroll;
  overflow-x: hidden;
}


/*************************************************************************/
/***********************ZONA ESTILO INSERTAR PELICULA*********************/


#insterMovieContainer{
  margin-top: -200px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 200px
}

/************ZONA DE LA FOTOGRAFIA******************/

#insertMoviePhotoArea{
  max-height: 450px;
  background-color: rgb(177, 177, 177);
  border:solid #22a1f6 5px;
  padding: 8px;
}

#insertMoviePhotoArea img{
  margin-top: 15px;
  width: 300px;
  height: 300px;
}

#insertMoviePhotoArea button{
  margin-top: 50px;
}

/**************ZONA ENTRADA DE DATOS******************/

#inputFilmArea{
  border:solid #22a1f6 5px;
  background-color: rgb(177, 177, 177);
  padding: 20px;
}


#inputFilmArea label{
  font-family:-apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

#inputFilmArea input{
  border-style: dotted;
  padding: 8px 10px;
  border: 3px solid rgb(177, 177, 177);
  font-family:-apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  background-color: #e9f7f8;
}

#inputFilmArea textarea{
  margin-left: 8px;
  resize: none;
  background-color: #e9f7f8;
}

/*************************************************************************/
/*********************ZONA ESTILO INFORMACION USUARIO*********************/


#UserFavMovieContainer{
  margin-top: -200px;
  margin-bottom: 18%;
  padding: 20px;
 
}

#infoUser{
  border:solid #22a1f6 5px;
  max-height: 400px;
  background-color: rgb(177, 177, 177);
  
}

#infoUser img{
  margin-top: 10px;
  margin-bottom: 75px;
  width:150px;
  height:150px;
  border-radius:150px;
}
#infoUser input {
  margin-top: 20px;
  background-color: #e9f7f8;
  border:solid #22a1f6 2px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  overflow:scroll;

}

#infoUser button{
  margin-top: 10px;
  margin-left: 18px;
  width: 150px;
  height: 50px;
  
}

#favMoviesContainer{
  padding: 20px;
  border:solid #22a1f6 2px;
}

#favMoviesContainer img{

  width: 500px;
  height: 500px;

}



/**************************************************************************/
/**********************ZONA ESTILO INSTERTAR USUARIO***********************/

#insertUserContainer{
  margin-bottom: 15%;
  margin-top: -200px;
  padding: 20px;
}

#insertUserArea{
  border:solid #22a1f6 5px;
  background-color: rgb(177, 177, 177);
  padding: 20px;
  display: inline;
}

#photoUserArea{
  
  background-color: rgb(177, 177, 177);
  border:solid #22a1f6 5px;
  padding: 8px;
}

#labelUser{
  width: 100px;
  text-align: left;
}


#checkPhoto{
  margin-top: 50px;
}


#photoUserArea img{
  width: 250px;
  height: 250px;
  margin-left: 15px;
  object-fit: contain;
}

#insertUserArea label{
  font-family:-apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 24px;
}

#insertUserArea input{
  padding: 8px 10px;
  border: 3px solid rgb(177, 177, 177);
  font-family:-apple-system, BlinkMacSystemFont, 
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  background-color: #e9f7f8;
}





/*************************************************************************/
/**************************ZONA ESTILO FOOTER*****************************/
#container-footer{
  width: 100%;
  padding:40px 0;
  background-color:#22a1f6;
  color:#e9f7f8;
  bottom: 0;
  position: relative;
  
}

#container-footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

#container-footer li {
  padding:0 10px;
}

#container-footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

#container-footer ul a:hover {
  opacity:1;
}

#container-footer .social {
  text-align:center;
  padding-bottom:25px;
}

#container-footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

#container-footer .social > a:hover {
  opacity:0.9;
}

#container-footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#e9f7f8;
  margin-bottom:0;
}
