<footer class="container-fluid" id="container-footer">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Principal</a></li>
        <li class="list-inline-item"><a href="#">Servicios</a></li>
        <li class="list-inline-item"><a href="#">Acerca</a></li>
        <li class="list-inline-item"><a href="#">Términos</a></li>
        <li class="list-inline-item"><a href="#">Política De Privacidad</a></li>
    </ul>
    <p class="copyright">Rafriki Company © 2021</p>
</footer>
