{% extends 'base.html.twig' %}

{% block title %}Página no Encontrada{% endblock %}

{% block body %}
    <br>
    <h1>Upps Parece que se ha roto algo</h1>
    <br>
    <div class="text-center">
        <img id="errorImg" src="{{ asset('assets/Error.png') }}" class="rounded" alt="Imagen Error">
    </div>
{% endblock %}
